html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-size: 1.2rem;
  line-height: 1.5;
  color: #bfd7ea;
  background: #094074 url("../images/about_bg.jpg") no-repeat center / cover
    fixed;
}

h1,
h2,
h3 {
  font-family: "Lora", serif;
}

h1 {
  font-size: 5rem;
  line-height: 1;
}

a {
  color: #fcf6b1;
  display: inline-block;
}

.wrapper {
  background: linear-gradient(
    180deg,
    rgba(9, 64, 116, 0.5) 0%,
    rgba(4, 31, 57, 1) 100%
  );
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

/* Responsive
------------------------------------*/

@media screen and (max-width: 760px) {
  h1 {
    font-size: 3.2rem;
  }
}
